@font-face {
    font-family: 'Intro Black Alt';
    src: url('Intro-Black-Alt.woff2') format('woff2'),
        url('Intro-Black-Alt.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro Book';
    src: url('Intro-Book.woff2') format('woff2'),
        url('Intro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Intro';
    src: url('Intro-Bold.woff2') format('woff2'),
        url('Intro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'intro_lightregular';
    src: url('intro-light-webfont.woff2') format('woff2'),
         url('intro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

